*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    font-size: 93.75%;
    font-family: 'Spartan', sans-serif;
    /* ### Primary */
--Very-Dark-Magenta: hsl(300, 43%, 22%);
--Soft-Pink: hsl(333, 80%, 67%);
    /* ### Neutral */
--Dark-Grayish-Magenta: hsl(303, 10%, 53%);
--Light-Grayish-Magenta: hsl(300, 24%, 96%);
--White: hsl(0, 0%, 100%);
}
.body{
    background-image: url(/assets/img/bg-pattern-top-mobile.svg), url(/assets/img/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin: 3rem auto 3.5rem auto;
}
.header{
    color: var(--Very-Dark-Magenta);
    line-height: clamp(2.2rem, 5vw, 3.5rem);
}
.header__title{
    width: 100%;
    max-width: 400px;
    font-size: clamp(2.1rem,5vw,3.2rem);
    margin: 1.6rem auto;
    
}
.header__text{
    margin: auto;
    max-width: 375px;
    font-size: clamp(1rem,3vw,1rem);
    line-height: 25px;
    margin-bottom: 1.6rem;
    font-weight: 500;
}
.rate{
    margin-bottom: 3.5rem;
}
.rate__box{
    background-color: var(--Light-Grayish-Magenta);
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
    padding: 1rem;
    margin-top: 1.1rem;
    border-radius: 10px;
    max-width: 329px;
}
.rate__box-text{
    margin:auto 0;
    font-weight: 700;
    font-size: 0.94rem;
    color: var(--Very-Dark-Magenta);
}
.star-container-img{
    margin: 0 0.2rem;
}
.comment__card{
    background-color: var(--Very-Dark-Magenta);
    border-radius: 10px;
    color: var(--White);
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    max-width: 329px;
}
.comment__header{
    display: flex;
    max-width: 80%;
    margin:2rem 0;
    align-items: center;
}
.comment__header-title{
    font-size: 0.9rem;
    /* align-items: center; */
    text-align: left;
    margin: 0 1.67rem;
    line-height: 20px;
}
.comment__card-img{
    margin:auto 0;
    border-radius: 50%;
    /* min-width: 20px; */
    max-width: 45px;
    height: auto;
}
.comment__header-span{
    display: block;
    font-weight: 300;
    color: var(--Soft-Pink);
}
.comment__card-text{
    line-height: 25px;
    font-size: 0.89rem;
    text-align: left;
    margin: 1rem auto;
}
.comment__card-text::before{
    content: '\201C';
}
.comment__card-text::after{
    content: '\201D';
}

@media (min-width: 1000px) {
        .body{
            max-width: 100%;
            height: 100vh;
            /* position: relative; */
            /* max-width: 1440px; */
            background-image: url(/assets/img/bg-pattern-top-desktop.svg),url(/assets/img/bg-pattern-bottom-desktop.svg);
            background-position: top left, bottom right;
            background-size: cover;
            background-position-x: 4%,0vh;
            background-position-y: -50vh,9vh;
            display: flex; 
            justify-content: center;
            flex-direction: row;
            align-items: center;
            margin: 0 auto;
            /* padding: 5rem 8rem; */
        }
        .main{
            width: 80%;
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;

        }
        .header{
            position:absolute;
            top: 15vh;
            left: 15.3vw;
        }
        .comment{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            /* align-self: center; */
        }
        .comment__card{
            margin: 2rem 0;
            max-width: 31.67%;
            /* align-self: center; */
        }
        .comment__card--btm{
            margin-top: auto;
            margin-bottom: 0;
        }
        .comment__card--top{
            margin-bottom: auto;
            margin-top: 0;
        }
        .rate{
            flex-direction: column;
            
        }
        .rate__box{
            flex-direction: row;
        }
}